#fundSelectionForm p {
	font-size: 1em;
}

#fundSelectionForm a.btnlhtgry {
	display: inline-block;
	min-width: 100px;
	margin: 0;
	padding: 15px 40px 15px 40px;
	background: rgba(0, 0, 0, 0);
	font: 700 12px/12px Montserrat, Helvetica, Arial, san-serif;
	text-align: center;
	text-shadow: none;
	border-radius: 2px;
	color: #3b4042;
	border: 1px solid #ececec;
	background-color: #f1f1f1;
}

#fundSelectionForm a.btnlhtgry:hover {
	background-color: #d1d3d4;
}

#fundSelectionForm input {
	color: #4c4c4c;
	width: 100%;
	height: 50px;
	height: 35px;
	margin: 0;
	padding: 0;
	text-align: left;
	text-indent: 10px;
	text-transform: none;
	box-shadow: none;
	border: none;
	border: 1px solid #ebe7e8;
	border-radius: 2px;
}

#fundSelectionForm input[type="checkbox"] {
	width: 15px;
	height: 15px;
	margin-top: 2px;
}

#fundSelectionForm select {
	color: #4c4c4c;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	width: 100%;
	height: 40px;
	margin: 0;
	padding: 0;
	text-align: left;
	text-indent: 16px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: none;
	border: none;
	border: 1px solid #ebe7e8;
	border-radius: 2px;
	outline: none;
	font-size: 12px;
	font-weight: 400;
}

#fundSelectionForm select.fund {
	background: #fff url(../images/ico/arrow-down-gry.png) no-repeat calc(100% - 16px) calc(100% - 50%);
}

#fundSelectionForm button,
#fundSelectionForm .ui-button {
	color: #4c4c4c;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

#fundSelectionForm #majorcategory {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	padding: 0 0 10px 0;
}

#fundSelectionForm #majorcategory a.search.active,
#fundSelectionForm #majorcategory a.search:hover {
	background: transparent url(../images/ico/search-crm.png) no-repeat 12px center;
	background-size: 12px;
	border: none;
}

#fundSelectionForm #majorcategory a {
	line-height: 1.4em;
	-webkit-transition: color .3s ease-in-out;
	transition: color .3s ease-in-out;
	width: 25%;
	color: #4c4c4c;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 6px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 10px;
	margin-bottom: -1px;
	border-bottom: 1px solid #d1d3d4;
	text-align: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

#fundSelectionForm #majorcategory a:hover {
	color: #981e32;
}

#fundSelectionForm #majorcategory span {
	width: 25%;
	color: #4c4c4c;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	padding: 6px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 12px;
	margin-bottom: -1px;
	border-bottom: 1px solid #d1d3d4;
	padding-right: 20px;
}

#fundSelectionForm #majorcategory span a {
	border-bottom: none;
}

#fundSelectionForm #majorcategory a.active {
	border-left: 1px solid #d1d3d4;
	border-top: 1px solid #d1d3d4;
	border-right: 1px solid #d1d3d4;
	border-bottom: none;
	color: #981e32;
	font-weight: 700;
}

#fundSelectionForm #majorcategory a.search {
	width: 12px;
	height: 12px;
}

#fundSelectionForm input[type="text"]:hover,
#fundSelectionForm select:hover {
	border: 1px solid #d1d3d4;
	cursor: pointer;
}

#fundSelectionForm input[type="text"]:focus,
#fundSelectionForm select:focus {
	border: 1px solid #981e32;
}

#fundSelectionForm select::-ms-expand {
	display: none;
}

#fundSelectionForm select.fund {
	background: #fff url(../images/ico/arrow-down-gry.png) no-repeat calc(100% - 16px) calc(100% - 50%);
	background-size: 12px;
	-webkit-transition: background-color .3s ease-in-out, color .3s ease-in-out;
	transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

#fundSelectionForm input.search,
#fundSelectionForm a.search {
	background: transparent url(../images/ico/search-gry.png) no-repeat 12px center;
	background-size: 12px;
}

#fundSelectionForm input.left,
#fundSelectionForm a.left {
	background: transparent url(../images/ico/arrow-left-gry.png) no-repeat 12px center;
	background-size: 12px;
	color: #3b4042;
	border: 1px solid #ececec;
	background-color: #f1f1f1;
}

#fundSelectionForm a.plus {
	background: transparent url(../images/ico/plus-gry.png) no-repeat 12px center;
	background-size: 12px;
	color: #3b4042;
	border: 1px solid #ececec;
	background-color: #f1f1f1;
	-webkit-transition: background-color .3s ease-in-out, color .3s ease-in-out;
	transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

#fundSelectionForm input.search:focus {
	background: #94192b url(../images/ico/search-wht.png) no-repeat 16px center;
}

#fundSelectionForm select.fund {
	background-size: 12px;
	-webkit-transition: background-color .3s ease-in-out, color .3s ease-in-out;
	transition: background-color .3s ease-in-out, color .3s ease-in-out;
	padding-right: 35px;
}

#fundSelectionForm .input-group {
	position: relative;
	display: table;
	border-collapse: separate;
}

#fundSelectionForm .input-group .form-control {
	position: relative;
	z-index: 2;
	width: 100%;
	display: table-cell;
	padding: 0;
	border: 1px solid #ebe7e8;
}

#fundSelectionForm .input-group .form-control:focus {
	z-index: 3;
}

#fundSelectionForm .input-group-btn {
	position: relative;
	display: table-cell;
	padding: 0;
	border: 1px solid #ebe7e8;
	width: 1%;
	white-space: nowrap;
	vertical-align: middle;
	font-size: 0;
}

#fundSelectionForm .input-group-btn > .btn:active,
#fundSelectionForm .input-group-btn > .btn:focus,
#fundSelectionForm .input-group-btn > .btn:hover {
	z-index: 2;
}

#fundSelectionForm .input-group-btn > .btn {
	position: relative;
}

#fundSelectionForm .input-group-btn > .btn + .btn {
	margin-left: -1px;
}

#fundSelectionForm .input-group[class*="col-"] {
	float: none;
	padding-left: 0;
	padding-right: 0;
}

#fundSelectionForm .input-group-addon {
	display: table-cell;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0;
	padding: 6px 12px;
	border: 1px solid #ebe7e8;
	width: 1%;
	white-space: nowrap;
	vertical-align: middle;
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
	color: #242424;
	text-align: center;
	background-color: #eee;
	border-radius: 2px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

#fundSelectionForm .input-group-addon input[type="checkbox"],
#fundSelectionForm .input-group-addon input[type="radio"] {
	margin-top: 0;
}

#fundSelectionForm .input-group-addon.input-sm,
#fundSelectionForm .input-group-sm > .input-group-addon,
#fundSelectionForm .input-group-sm > .input-group-btn > .input-group-addon.btn {
	padding: 5px 10px;
	font-size: 14px;
	border-radius: 3px;
}

#fundSelectionForm .input-group-addon.input-lg,
#fundSelectionForm .input-group-lg > .input-group-addon,
#fundSelectionForm .input-group-lg > .input-group-btn > .input-group-addon.btn {
	padding: 10px 16px;
	font-size: 20px;
	border-radius: 6px;
}

#fundSelectionForm .input-group .form-control:first-child,
#fundSelectionForm .input-group-btn:first-child > .btn-group > .btn,
#fundSelectionForm .input-group-btn:first-child > .dropdown-toggle,
#fundSelectionForm .input-group-btn:last-child > .btn-group:not(:last-child) > .btn,
#fundSelectionForm .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {

	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

#fundSelectionForm .input-group-addon:first-child {
	border-right: 0;
	border-radius: 0;
	font-weight: 800;
	font-size: 12px;
}

#fundSelectionForm .input-group-btn:first-child > .btn {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	margin-right: -1px;
}

#fundSelectionForm .input-group-btn:first-child > .btn-group {
	margin-right: -1px;
}

#fundSelectionForm .input-group .form-control:last-child,
#fundSelectionForm .input-group-btn:first-child > .btn-group:not(:first-child) > .btn,
#fundSelectionForm .input-group-btn:first-child > .btn:not(:first-child),
#fundSelectionForm .input-group-btn:last-child > .btn-group > .btn,
#fundSelectionForm .input-group-btn:last-child > .dropdown-toggle {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

#fundSelectionForm .input-group-addon:last-child {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-left: 0;
}

#fundSelectionForm .input-group-btn:last-child > .btn {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	z-index: 2;
	margin-left: -1px;
}

#fundSelectionForm .input-group-btn:last-child > .btn-group {
	z-index: 2;
	margin-left: -1px;
}

#fundSelectionForm .wrapper {
	position: relative;
	width: 100%;
	display: inline-block;
}

#fundSelectionForm button.amount-selection {
	border: none;
	padding: 10px 35px;
	background-color: #f1f1f1;
	border-radius: 2px;
	width: calc(20% - 5px);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-top: 10px;
}

#fundSelectionForm button.amount-selection.selected {
	color: #fff;
	background-color: #981e32;
}

#fundSelectionForm button.amount-selection:first-child {
	border-top-left-radius: 2px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 2px;
}

#fundSelectionForm button.amount-selection.lastbutton {
	border-top-left-radius: 0;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 0;
}

#fundSelectionForm button.amount-selection:hover {
	background-color: #d1d3d4;
}

#fundSelectionForm button.amount-selection.selected:hover {
	background-color: #981e32;
}

#fundSelectionForm div.input-group {
	clear: both;
}

#fundSelectionForm .amountwrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	box-sizing: border-box;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

#fundSelectionForm .amountwrapper .input-group {
	margin: 20px 0 0 0;
}

#fundSelectionForm .button.active,
#fundSelectionForm .button:active,
#fundSelectionForm button.active,
#fundSelectionForm button:active,
#fundSelectionForm input[type="submit"]:active,
#fundSelectionForm input[type="reset"]:active,
#fundSelectionForm input[type="button"]:active {
	background: auto;
}

#fundSelectionForm #selectedFunds {
	margin: 0 0 20px 0;
	list-style-type: none;
	padding: 0;
}

#fundSelectionForm #selectedFunds li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	padding: 10px 10px 10px 20px;
	background: #e6e7e8;
	border-radius: 2px;
	border: #e6e7e8 solid 1px;
	margin-top: 10px;
}

#fundSelectionForm #selectedFunds li span.left {
	padding-right: 20px;
	font-weight: 700;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 12px;
}

#fundSelectionForm #selectedFunds li span.right {
	font-size: 12px;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-right: 20px;
}

#fundSelectionForm #selectedFunds li:first-child:after {
	content: "";
	position: absolute;
	border-style: solid;
	border-width: 0 7px 7px;
	border-color: #e6e7e8 transparent;
	display: block;
	width: 0;
	top: -8px;
	left: 7px;
}

#fundSelectionForm .help-text-box {
	background: #981e32;
	color: #e6e7e8;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	padding: 10px 10px 10px 20px;
	border-radius: 2px;
	border: #981e32 solid 1px;
	margin-top: 10px;
	font-size: 12px;
}

#fundSelectionForm .help-text-box span.left {
	padding-right: 20px;
	font-weight: 800;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 105%;
	width: 100%;
}

#fundSelectionForm .help-text-box span.right {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-right: 20px;
}

#fundSelectionForm .help-text-caret {
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid #981e32;
	margin-top: 0;
	margin-left: calc(10% - 7px);
	margin-bottom: 10px;
}

#fundSelectionForm .help-text .close a {
	background: url(../images/ico/close-wht.png) no-repeat center center;
	background-size: 12px;
}

#fundSelectionForm .additional-info {
	font-size: 90%;
}

#fundSelectionForm .additional-info .additional-info-header {
	font-weight: 700;
	font-size: 12px;
	text-align: center;
}

#fundSelectionForm .additional-info input[type="checkbox"] {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 20px;
	flex: 0 0 20px;
}

#fundSelectionForm .additional-info input[type="checkbox"] + label:before {
	border: 1px solid rgba(0, 0, 0, .2);
	content: "\00a0";
	display: inline-block;
	font: 16px/1em sans-serif;
	height: 15px;
	margin: 0 .25em 0 0;
	padding: 0;
	vertical-align: top;
	width: 15px;
}

#fundSelectionForm .additional-info input[type="checkbox"]:checked + label:before {
	background: #981e32 url(../images/ico-check-wht.png) center center no-repeat;
	color: #fff;
	border: 1px solid #981e32;
	background-size: 12px;
	text-align: center;
}

#fundSelectionForm .additional-info input[type="checkbox"]:checked + label:after {
	font-weight: 700;
}

#fundSelectionForm .additional-info input[type="checkbox"] {
	display: none;
}

#fundSelectionForm .additional-info span {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: 10px;
	line-height: 2em;
	margin-bottom: 5px;
}

#fundSelectionForm .additional-info label {
	-webkit-box-flex: 2;
	-ms-flex: 2;
	flex: 2;
	margin-left: 5px;
	font-size: 1em;
}

#fundSelectionForm .hidden {
	display: none;
}

#fundSelectionForm .center {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

#fundSelectionForm .alignright {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

#fundSelectionForm .wrapper:after {
	clear: both;
}

#fundSelectionForm .search-separator {
	margin: 0 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

#fundSelectionForm #jacket,
#fundSelectionForm #binder,
#fundSelectionForm section.row {
	background-color: #fff;
}

#fundSelectionForm ul.ui-autocomplete {
	background-color: #fff;
	border: 1px solid #ccc;
	width: 100%;
	z-index: 1000;
}

#fundSelectionForm .ui-button-text,
#fundSelectionForm #selectedFunds li span.left {
	font-weight: 800;
	font-size: 12px;
}

#fundSelectionForm .continuebutton {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 40px;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

#fundSelectionForm label,
#fundSelectionForm legend {
	font-weight: 300;
	font-size: 12px;
	color: #4c4c4c;
}

#fundSelectionForm .close a {
	display: block;
	right: 0;
	top: 0;
	width: 12px;
	height: 12px;
	margin: 10px;
	padding: 0;
	background: url(../images/ico/close-gry.png) no-repeat center center;
	background-size: 12px;
	opacity: 1;
}

#fundSelectionForm span.edit {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

#fundSelectionForm a.edit,
#fundSelectionForm li span.amount {
	color: #4c4c4c;
	font-weight: 800;
	font-size: 12px;
}

#fundSelectionForm .otherprice {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
}

#fundSelectionForm span.center,
#fundSelectionForm span.close {
	font-size: 12px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

#fundSelectionForm #addFundButton {
	padding: 11px 40px 10px 40px;
	background-position-x: 51px;
	background-size: 8px;
	background-color: #e6e7e8;
}

#fundSelectionForm #addFundButton:hover {
	color: #fff;
	background: #981e32 url(../images/ico/plus-wht.png) no-repeat 12px center;
	background-size: 8px;
	background-position-x: 51px;
}

#fundSelectionForm #backButton {
	min-width: 70px;
	padding: 15px 15px 15px 15px;
}

#fundSelectionForm .disclaimer {
	font-size: 75%;
	font-style: italic;
	line-height: 1.3em;
	margin-top: 10px;
}

@media (max-width: 800px) {

	#fundSelectionForm button.amount-selection {
		width: calc(20% - 5px);
	}

}

@media (max-width: 420px) {

	#fundSelectionForm .gift-planning {
		font-size: 65%;
	}

	#fundSelectionForm button.amount-selection {
		width: calc(33% - 5px);
	}

}

@media screen and (max-width: 900px) and (-webkit-min-device-pixel-ratio: 0) {

	#fundSelectionForm select,
	#fundSelectionForm textarea,
	#fundSelectionForm input {
		font-size: 16px;
	}

	#fundSelectionForm select:focus,
	#fundSelectionForm textarea:focus,
	#fundSelectionForm input:focus {
		font-size: 16px;
	}

}

.ui-autocomplete.fundselector {
	background-color: #fff;
	border: 1px solid #e6e7e8;
	list-style-type: none;
	padding-left: 15px;
	padding-bottom: 5px;
	text-transform: uppercase;
}

.ui-autocomplete.fundselector .ui-menu-item {
	cursor: pointer;
}

.ui-autocomplete.fundselector .ui-menu-item.ui-state-focus {
	color: #981e32;
}

/*# sourceMappingURL=wsuwp-plugin-idonate.css.map */
